<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<clear/>
		<add key ="Address" value="localhost"/>
		<add key ="InsecurePort" value="5011"/>
		<add key ="SecurePort" value="5012"/>
		<!--CurrentUser or LocalMachine-->
		<add key ="StoreLocation" value="CurrentUser"/>
		<add key ="CertSubjectName" value="localhost"/>
	</appSettings>
</configuration>
